version: '3'
services:
  db:
    image: postgres:17.7
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db-data: