version: '3'
services:
  db:
    image: postgres:17.7
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
      - "35729:35729"
    stdin_open: true
    tty: true
    depends_on:
      - db
    command: /bin/bash -c "bin/rails db:create db:migrate 2>/dev/null || true && rm -f tmp/pids/server.pid && bin/dev"
    volumes:
      - .:/app

volumes:
  db-data: {}