<div id="filter_by_child" class="text-center">
  <h1 class="text-3xl font-bold m-6">日記を絞り込む：
    <% if @selected_children.present? %>
      <% @selected_children.each do |child| %>
        <%= child.name %>
      <% end %>
    <% else %>
      対象なし
    <% end %>
  </h1>

  <% if @selected_children.present? %>
    <div class="search-status">
      <%= button_to "絞り込みを解除", filter_by_child_diaries_path, method: :get, data: { turbo: false }, class: "box-border border border-default-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5" %>
    </div>
  <% end %>

  <div class="diary-list">
    <% if @diaries.any? %>
      <%= render @diaries %>
    <% else %>
      <p>該当する日記はありません。</p>
    <% end %>
  </div>

</div>