<div class="grid grid-cols-2 gap-2 items-center p-4 bg-sky-100">
  <div class="text-left">
    <%=link_to image_tag('/tsumugi-logo.png', class: "max-h-[4dvh]"), root_path %>
  </div>
  <div class="text-right">
    <% if logged_in? %>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" } %>
    <% else %>
      <%= link_to "ログイン・新規登録", auth_path %>
    <% end %>
  </div>
</div>